body{
    margin:0px;
    text-align: center;
    font-family: 'Merriweather', serif;
}
h1{
    margin-top: 0;
}
div{
    
}
.top-container{
    background-color:#01c5c4;
    position:relative;
    padding-top:250px;
    padding-bottom:100px;
}
.middle-container{
    width:200px;
    height:200px;
    background-color:blue;
}
#description{
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    left:680px;
    top:240px;
    
}
.bottom-container{
    width:200px;
    height:200px;
    background-color: red;
}
.bottom-cloud{
    position:absolute;
    left:300px;
    top:200px;
}
.top-cloud{
    position:absolute;
    right:350px;
    top:30px;
}
.mountain{
  padding-top: 50px;
    
}
#name{
    font-family: 'Sacramento', cursive;
    font-size: 70px;
    position:absolute;
   left:550px;
    top:150px;
    
    
}
.name{
    margin-bottom: 100px;
    color:#16697a;
    
    
}
ul{
    
    position:absolute;
    right:10px;
    top:10px;
}
ul li{
    display:inline-block;
    padding-right: 30px;
    
}
ul li a{
    text-decoration: none;
    color:#16697a;
}
.girl{
    position: absolute;
    left:470px;
    top:165px;
}
